.banner {
  top: 0;
  left: 0; }
  .banner .bannerCaption {
    position: absolute;
    bottom: 15%;
    width: 95%;
    left: 5%; }
    .banner .bannerCaption .learnMore {
      text-transform: uppercase;
      background-color: #00bff3;
      height: 40px;
      padding: 0 40px;
      font-size: 10pt;
      font-weight: bold;
      border-radius: 20px; }
    .banner .bannerCaption .Banner-title {
      width: 40%;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
      @media (max-width: 768px) {
        .banner .bannerCaption .Banner-title {
          width: 100%; } }
  .banner .carousel {
    display: inline-block;
    width: 100%;
    height: 100%; }
    .banner .carousel .carousel-indicators {
      display: none; }
    .banner .carousel .carousel-inner {
      -webkit-clip-path: polygon(100% 0, 100% 100%, 26% 84%, 0 0);
      clip-path: polygon(100% 0, 100% 100%, 26% 84%, 0 0); }
      .banner .carousel .carousel-inner .item .carousel-img {
        transition: .5s all ease-in;
        position: relative;
        height: 100vh;
        width: calc(100vw - 17px); }
        .banner .carousel .carousel-inner .item .carousel-img:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background-position: right -51px;
          background-attachment: fixed; }
      .banner .carousel .carousel-inner .item:first-child .carousel-img:before {
        background-image: url(../imgs/Omnia-Banner.jpg); }
      .banner .carousel .carousel-inner .item:nth-child(2) .carousel-img:before {
        background-image: url(../imgs/Dubai.jpg);
        background-size: cover;
        background-position: 0; }
      .banner .carousel .carousel-inner .item:nth-child(3) .carousel-img:before {
        background-image: url(../imgs/Dubai_sea_architecture.jpg);
        background-size: cover;
        background-position: 0; }
    .banner .carousel .carousel-control {
      width: 35px;
      height: 35px;
      font-size: 15px;
      line-height: 35px;
      border-radius: 50%;
      color: #00bff3;
      border: 1px solid #00bff3;
      text-shadow: none;
      background-color: #fff;
      background-image: none;
      left: 10%;
      top: 50%; }
      .banner .carousel .carousel-control.left {
        left: 5%; }
      .banner .carousel .carousel-control .glyphicon-chevron-left,
      .banner .carousel .carousel-control .glyphicon-chevron-right {
        margin-top: 0;
        line-height: 36px;
        font-size: 15px;
        width: 100%;
        left: 2px;
        top: 0; }
      .banner .carousel .carousel-control .glyphicon-chevron-left {
        margin-left: 0;
        left: -1px; }
        .banner .carousel .carousel-control .glyphicon-chevron-left:before {
          content: "\e251"; }
      .banner .carousel .carousel-control .glyphicon-chevron-right:before {
        content: "\e250"; }
      .banner .carousel .carousel-control:hover {
        opacity: 1; }
