//============ Header styles =================
.App-header{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 105px;
  color: white;
  display: block;
  padding: 30px;
  z-index: 8;
  //============ language dropdown styles =================  
  .dropdown-toggle.btn{
    background: none;
    color: #fff;
    border: none;
    text-transform: uppercase;
    .lang-ico{
      padding-top: 1px;
      transition: .2s all ease-in-out;
    }
    .caret{
      visibility: hidden;
    }
    &:hover,&:focus{
      color: #fff;
      background: none;
      background-color: transparent;
    }
    &[aria-expanded="true"]{
      &:focus{
        .lang-ico{
          transform: rotate(180deg);
        }
      }
    }
  }
  .dropdown-menu{
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 0;
    padding: 0;
    color: #fff;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.15);
    li{
      color:#fff;
    }
    .active>a{
      background-color: #00bff3;
    }
  }
  //============ Right Menu styles =================
  .menu-ico {
    background: none;
    border: none;
    outline: none;
    background-color: none;
    &:hover,&:focus{
      background: none;
      border: none;
      outline: none;
      background-color: none;
    }
  }
}
//============ footer styles =================
.App-footer{
  margin-top: 150px;
  height: 80px;
  background-color: #323232;
  color: #fff;
  grid-row-start: 2;
  grid-row-end: 3;
  padding: 30px 0;
}
.footer-menu li{
  display: inline;
}
.footer-menu li a{
  font-style: none;
  color:#fff;
}
.footer-menu li a:hover{
  text-decoration: none;
  color:#fff;
  cursor: pointer;
}
.footer-menu li:after{
  content: '|';
  position: relative;
  padding: 0 20px;
  width:5px;
  height: 20px;
}